/* css */
.show-on-scroll { visibility: hidden; }
.show-on-scroll.shown { visibility: visible; }

#fixed_layer

{

    position:fixed;

    z-index:1000;

    height:580px;

    width:90%;

    top:30px;

    left:20px;

    -webkit-box-shadow: 0 2px 2px 0 #cccccc;

    box-shadow: 0 2px 2px 0 #cccccc;

    background-color: #ffffff;
    
	background-color: rgba( 255, 255, 255, 0.5 );

    color: #000000;

    font-size:10px;

}

